* {
    padding: 0;
    margin: 0;
}

.navbar{
    padding: 0;
    background-color: black !important;
}

.navbar .logo {
    width: 50px;
    height: 50px;
}

.navbar-nav {
    padding: 0 10px;
}

.navbar-nav .nav-link {
    color: #fff !important;
    padding: 0 10px !important;
    float: right;
    text-align: right;
}

.banner {
    background-image: linear-gradient(to bottom, #000, #4c5052, rgb(173, 171, 171), #fff);
    padding: 5%;
    color: #fff;
}

.banner h1 {
    padding: 10px 0;
}

.banner p {
    text-align: justify;
}

.banner img {
    width: 450px;
    height: 475px;
}

.services {
    margin-top: 80px;
    margin-bottom: 130px;
}

.services img {
    border-radius: 10px 10px 0px 0px;
}

.services .text-part{
    margin-bottom: 80px;
}

.services .text-part h5 {
    padding-bottom: 10px;
}

.services .text-part p {
    font-size: 1.8rem;
    margin: 0 20%;
}

.contact-us {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.contact-us p {
   font-size: 0.8rem;
}

.contact-us .text-part {
    padding-bottom: 30px;
}

.contact-us .btn-primary, .contact-page .btn-primary {
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #000, #595e61);
    padding: 8px 25px;
}

.footer {
    background-color: black;
    padding: 10px;
    color: white;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer .social img {
    height: 25px;
    width: 25px;
    margin: 0 5px;
}

.footer .info p {
    font-size: 0.8rem;
}

.footer .info {
    width: 25%;
}

.services-page, .about-page {
    padding: 5%;
}

.services-page .bg-pic, .about-page .bg-pic {
    width: 300px;
    height: 500px;
    background-image: url(./assests/bg-pic.png);
    background-position: center;
}

.services-page .col-md-8 {
    margin: 10px;
    margin-left: 40px;
    padding: 10px;
}

.services-page .text-part {
    margin-top: 50px;
    color: #fff;
}

.services-page .text-part .row {
    height: 200px;
}

.services-page .text-part .col-md-6 {
    padding: 20px 40px;
}

.contact-page {
    padding: 5%;
}

.about-page .col-md-8 {
    padding: 4%;
}

.about-page h1 {
    font-weight: lighter;
}

.about-page p {
    width: 90%;
}

.about-page .words {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 80px;
}